<div class="container">

  <h1><%= @flat.name %></h1>
  <h3>A bit more about this flat</h3>
  <p><%= @flat.description %></p>
  <h3>Details</h3>
  <p>€ <%= @flat.price_per_night %></p> <br>
  <p><i class="fas fa-users"> <%= @flat.number_of_guests %></p>
</div>

