.card {
  height: 175px;
  background-size: cover !important;
  background-position: center;
  color: black;
  background-color: #F8F9FA;
  background-shadow: 1px 1px 2px rgba(245, 245, 245, 0.3);
  border: 2px #F8F9FA solid ;
}

.card-description {
  padding: 7px 10px;
}

.card-description h2 {
  font-size: 20px;
}
.card-description p {
  font-size: 14px;
  opacity: 0.7;
  font-weight: lighter;

}

.card-details {
  display: flex;
  align-items: center;
}

.card-details p {
  margin-right: 16px;
}

.card-footer {
  background-color: white;
  padding: 7px 10px;
  font-size: 14px;
}

.card-link:hover {
  opacity: 0.1;
}
